.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.container {
    background-color: beige;
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 20px;
    border-radius: 30px;
}
.participantes {
    font-size: 30px;
    margin: 20px;
}
.alerta {
    width: 15%;
    height: 50px;
    font-size: 20px;
}